body {
  min-height: 100%;
  background: url('/src/scramble.jpg');
  background-size: cover;
}

.App {
  text-align: center;
}

::placeholder {
  width: 50px;
  height: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}
